.about{
    width: 100%;
    background-color:rgba(255, 255, 255, 0.74);
    color: white;
    font-family: var(--font);
    padding: 50px;
}
.about .aboutContent{
    width: 100%;
    margin: auto;
    height: fit-content;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.247); */
    /* top: 50%;
    left: 50%; */
    /* position: absolute; */
    /* transform: translate(-50%,-50%); */
}
.aboutContent h1, .aboutContent p, .aboutContent h2{
   
    margin: 20px;

}
.aboutContent h1{
    text-shadow: 2px 2px 3px gray;
    color: black;
   
}
.aboutContent h2{
    color:limegreen;
    /* text-shadow: 2px 2px 3px limegreen; */
 
}
.aboutContent p{
    text-shadow: 1px 1px 1px gray;
    color:black;
    /* text-align: center; */
    letter-spacing: 1px;
    word-spacing: 4px;
}
.aboutContent button{
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1111;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    color: var(--main);
    font-family: var(--font);
    background-color: var(--text);
    transition: all 0.5s linear;
    
}
.aboutContent button:hover{
    background-color: white;
    color: var(--text);
}
@media screen and (max-width:804px){
    .about .aboutContent{
        height: 95vh;
        overflow: hidden;
        background-color: white;;
    }
}