.Header{
    z-index: 100;
    position: absolute;
    top: 0;
    width: 100%;
    font-family: var(--font);
    /* background-color: var(--text); */
    background-color: transparent;
    /* box-shadow: 0px 0px 10px 2px rgba(9, 66, 12, 0.548); */
}
.Header .navbar{
    display: flex;
    height: 75px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    /* background-color: var(--text); */
    background-color: transparent !important;

    justify-content: space-between;
}
.Header .navbar .logo{
    font-weight: bold;
    font-size: 1.3rem;
}
.Header .navbar .logo p .logo-text{
    /* color:var(--main); */
    color: #fff;;
    font-weight: bolder;
}
.Header .navbar .logo span{
    margin: 1px;
    color: #231f1e;
}
.navbar{
    padding: 10px 50px;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li svg{
    vertical-align: top;
}
.navbar ul li{
    padding: 15px;
    cursor: pointer;
    font-weight: 500;
    color: #fff;
    transition: all 0.8s;
    border: 1px solid transparent;
    background-color: var(--text);
}
.nav-icons{
    color: var(--main);
    margin-top: 3px;
}
/* .active{
    border-bottom: 2px solid limegreen !important;
} */

.navbar ul li:hover{
    border-radius: 3px;
    background-color: rgba(91, 91, 92, 0.233);
}
.navbar ul li:hover{
    background-color: green;
}

/* dropdown */
li{
    position: relative;
    font-weight: bold !important;
}
li ul{
    top: 40px;
    left: 10px;
    z-index: 111;
    height: 0px;
    display: flex;
    overflow: hidden;
    position: absolute;
    border-radius: 5px;
    align-items: flex-end;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 3px 0px gray ;
}
li ul.drop{
    height: 90px;
    transition: height 1s;
}
li ul p{
    /* margin:5px; */
    padding: 10px 20px;
    color: #231f1e;
    font-size: 0.9rem;
    text-align: center;
    font-weight: bolder;
    width: fit-content;
    transition: all 0.6s;
    text-transform: capitalize;
}
li ul p:hover , li ul svg:hover{
    color: rgba(0, 0, 0, 0.61) !important;
}
li ul svg{
    margin: 10px 10px 0px 0px;
}
.menu{
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
    display: none;
}
.navbar ul.shownav{
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 50px;
    height: auto;
    /* background-color: var(--text); */
    transition: all 0.5s linear;
}

@media screen and (max-width:804px){
    .Header{
        font-size: small !important;
    }
    .navbar{
        position: relative;
        padding: 5px 10px;
    }
    .menu{
        display: block;
    }
    .navbar ul{
        position: absolute;
        flex-direction: column;
        right: 0;
        top: 50px;
        
        height: 0px;
        overflow: hidden;
    }
    .navbar ul li{
        background-color: var(--text);
    }

}